{{template "base" .}}

{{define "content"}}

<div class="container">

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
            <img src="../static/images/hardwareimg3.jpeg" class="room-image img-fluid mx-auto d-block" alt="Laptop image">
        </div>
    </div>


    <div class="row">
        <div class="col">
          <h1 class="text-center mt-4">Dongle</h1>
            <h3 class="text-center mt-3">Smart, Fast and Better Asset Tracking Software </h3>
            <p>Your business is unique, and so is your stuff. We understand this problem,so we’ve 
               designed asset management software that can track anything and is highly configurable 
               to the way you currently manage your equipment. We believe that better asset tracking 
               leads to better business performance – you keep your stuff nice, you know where it 
               should be, and you prevent losses and damage.Right now, you probably spend way too much
                time dealing with asset management perhaps more than you even realize. With Asset Panda 
                on your side, you can potentially see savings that are eight times what you spend with 
                us from all the time you’re able  to get back (and that’s before tax savings or reduced asset losses are taken into account).
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col text-center">
          <button type="button" class="btn btn-danger">Details</button>
        </div>
    </div>
</div>

{{end}}